<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>452326886159-dddiimr6gdh1cta408hls714lahb7mre.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.452326886159-dddiimr6gdh1cta408hls714lahb7mre</string>
	<key>API_KEY</key>
	<string>AIzaSyBt-dDzBs_lGRokt0oUzYy32RiIOzn2Lz0</string>
	<key>GCM_SENDER_ID</key>
	<string>452326886159</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.mussicApp</string>
	<key>PROJECT_ID</key>
	<string>mussic-app-aae9a</string>
	<key>STORAGE_BUCKET</key>
	<string>mussic-app-aae9a.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:452326886159:ios:2c2380e51b20bd9364cc7a</string>
</dict>
</plist>